body{
  background-color: #080517;
  color: white;
  margin: 2vw;
  font-family: Courier, sans-serif;
}
.links{
  font-size:24px;
  list-style: none;
  display:flex;
  justify-content: flex-end;
}
.link{
  color: white;
  border-style: none;
  margin-left: 1em;
  text-decoration: none;
}
.perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills{
  display:block;
  background-color: red;
}