body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #525252;
    color: white;
    font-family: 'Poppins';
}
.comienzo{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
}
/*Navbar*/
.rutas{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
    justify-content: end;
}
.rutas a{
    color: white;
    margin-top: 10px;
    height: 1vh;
    font-size: 2em;
    padding-right: 1em;
    transition: all ease 0.5s;
    text-decoration: none;
}
.rutas a:hover{
    color: #67d097;

}
/*Inicio*/

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 75vh;
    border-radius: 50px;
    background: #282a29;
}
.info{
    justify-items: center;
}
.info h1{
    font-size: 2em;
    color: red;
}
.redes{
    display: flex;
    flex-direction: row;
}
.redes ul{
    list-style: none;
    border: solid 1px white;
    transition: all ease 0.4s;
}
.redes ul:hover{
    background-color: #67d097;
}

.redes a{
    color: white;

}
/*Informacion*/
/*Proyectos*/
/*Contacto*/